# dependencies
node_modules/

# env secrets
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
chat_debug.log

# OS
.DS_Store
Thumbs.db

# Render / build
.cache/
dist/
build/

# optional
*.local

# Nya: Redis, Elastic, Sentry, tests
redis-data/
elastic-data/
coverage/
sentry.config.js
